extends layout.jade
block content
    #fh5co-main
      .container
        .row
          #fh5co-board(data-columns='')
            .item
              .animate-box
                a.image-popup.fh5co-board-img(href='images/img_1.jpg', title='Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo, eos?')
                  img(src='images/img_1.jpg', alt='Free HTML5 Bootstrap template')
              .fh5co-desc 
                h3 Title
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo, eos?
                a.btn.btn-success(href="#")
                  i.icon-eye2
                  |  View Details
                a.btn.btn-primary(href="#")
                  i.icon-cloud-download
                  |  Download
            .item
              .animate-box
                a.image-popup.fh5co-board-img(href='images/img_2.jpg')
                  img(src='images/img_2.jpg', alt='Free HTML5 Bootstrap template')
              .fh5co-desc 
                h3 Title
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo, eos?
                a.btn.btn-success(href="#")
                  i.icon-eye2
                  |  View Details
                a.btn.btn-primary(href="#")
                  i.icon-cloud-download
                  |  Download
            .item
              .animate-box
                a.image-popup.fh5co-board-img(href='images/img_3.jpg')
                  img(src='images/img_3.jpg', alt='Free HTML5 Bootstrap template')
              .fh5co-desc 
                h3 Title
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo, eos?
                a.btn.btn-success(href="#")
                  i.icon-eye2
                  |  View Details
                a.btn.btn-primary(href="#")
                  i.icon-cloud-download
                  |  Download
            .item
              .animate-box
                a.image-popup.fh5co-board-img(href='images/img_4.jpg')
                  img(src='images/img_4.jpg', alt='Free HTML5 Bootstrap template')
              .fh5co-desc 
                h3 Title
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo, eos?
                a.btn.btn-success(href="#")
                  i.icon-eye2
                  |  View Details
                a.btn.btn-primary(href="#")
                  i.icon-cloud-download
                  |  Download
            .item
              .animate-box
                a.image-popup.fh5co-board-img(href='images/img_5.jpg')
                  img(src='images/img_5.jpg', alt='Free HTML5 Bootstrap template')
              .fh5co-desc 
                h3 Title
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo, eos?
                a.btn.btn-success(href="#")
                  i.icon-eye2
                  |  View Details
                a.btn.btn-primary(href="#")
                  i.icon-cloud-download
                  |  Download
            .item
              .animate-box
                a.image-popup.fh5co-board-img(href='images/img_6.jpg')
                  img(src='images/img_6.jpg', alt='Free HTML5 Bootstrap template')
              .fh5co-desc 
                h3 Title
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo, eos?
                a.btn.btn-success(href="#")
                  i.icon-eye2
                  |  View Details
                a.btn.btn-primary(href="#")
                  i.icon-cloud-download
                  |  Download
            .item
              .animate-box
                a.image-popup.fh5co-board-img(href='images/img_7.jpg')
                  img(src='images/img_7.jpg', alt='Free HTML5 Bootstrap template')
              .fh5co-desc 
                h3 Title
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo, eos?
                a.btn.btn-success(href="#")
                  i.icon-eye2
                  |  View Details
                a.btn.btn-primary(href="#")
                  i.icon-cloud-download
                  |  Download
            .item
              .animate-box
                a.image-popup.fh5co-board-img(href='images/img_8.jpg')
                  img(src='images/img_8.jpg', alt='Free HTML5 Bootstrap template')
              .fh5co-desc 
                h3 Title
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo, eos?
                a.btn.btn-success(href="#")
                  i.icon-eye2
                  |  View Details
                a.btn.btn-primary(href="#")
                  i.icon-cloud-download
                  |  Download
