extends layout.jade
block content
  #fh5co-main
    .container
      .row
        .col-md-3
          .panel.panel-default
            .panel-heading
              | Profile
            .panel-body
              .item
                .animate-box
                  a.image-popup.fh5co-board-img(href='images/img_1.jpg', title='Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo, eos?')
                    img.img-responsive(src='images/img_1.jpg', alt='Free HTML5 Bootstrap template')
                .fh5co-desc 
                  h3 Name - username
                  p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo, eos? (Short Bio)
                  p Birthday : 09-09-1998
                  button.col-sm-12.btn.btn-sm.btn-success(href="#")
                    i.icon-edit
                    |  Edit
                  button.col-sm-12.btn.btn-sm.btn-primary(href="#")
                    i.icon-log-out
                    |  Sign Out
        .col-md-9
          .panel.panel-default
            .panel-heading
              | Latest Artworks
            .panel-body
              #fh5co-board(data-columns='')
                .item
                  .animate-box
                    a.image-popup.fh5co-board-img(href='images/img_1.jpg', title='Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo, eos?')
                      img(src='images/img_1.jpg', alt='Free HTML5 Bootstrap template')
                  .fh5co-desc 
                    h3 Title
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo, eos?
                    a.btn.btn-sm.btn-success(href="#")
                      i.icon-eye2
                      |  Details
                    a.btn.btn-sm.btn-primary(href="#")
                      i.icon-cloud-download
                      |  Download
                .item
                  .animate-box
                    a.image-popup.fh5co-board-img(href='images/img_2.jpg')
                      img(src='images/img_2.jpg', alt='Free HTML5 Bootstrap template')
                  .fh5co-desc 
                    h3 Title
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo, eos?
                    a.btn.btn-sm.btn-success(href="#")
                      i.icon-eye2
                      |  Details
                    a.btn.btn-sm.btn-primary(href="#")
                      i.icon-cloud-download
                      |  Download
                .item
                  .animate-box
                    a.image-popup.fh5co-board-img(href='images/img_3.jpg')
                      img(src='images/img_3.jpg', alt='Free HTML5 Bootstrap template')
                  .fh5co-desc 
                    h3 Title
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo, eos?
                    a.btn.btn-sm.btn-success(href="#")
                      i.icon-eye2
                      |  Details
                    a.btn.btn-sm.btn-primary(href="#")
                      i.icon-cloud-download
                      |  Download
                .item
                  .animate-box
                    a.image-popup.fh5co-board-img(href='images/img_4.jpg')
                      img(src='images/img_4.jpg', alt='Free HTML5 Bootstrap template')
                  .fh5co-desc 
                    h3 Title
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo, eos?
                    a.btn.btn-sm.btn-success(href="#")
                      i.icon-eye2
                      |  Details
                    a.btn.btn-sm.btn-primary(href="#")
                      i.icon-cloud-download
                      |  Download
